.container {
    max-width: 960px;
    margin: 0 auto;
}

.timeLeft {
    color: white;
}

html {
	cursor: url(../images/virus.png), pointer;
}

.audios, #result {
    position: fixed;
    bottom: 20px;
    right: 5px;
  }

img {
    max-width: 400px;
    max-height: 400px;
}
p {
    color:  white;
    z-index: 999;
}

h1,h2,h3,h4 {
	color: white;
	padding: 25px;
	text-shadow: 2px 2px rgb(0, 0, 0);
}

#correctAnswerCounter {
    margin-top: 20px;
}

.answer,#timer {
	font-weight: 900;
}

#start {
    color: white;
    text-align: center;
    width: 200px;
    padding: 20px 5px 20px 5px;
    margin: 0 auto;
    display: block;
   
}
#start:hover {
    border: 1px solid white;
    border-radius: 10px;
    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}
.choices {
	text-align: center;
	border: groove 2px rgb(255, 255, 255);
	border-radius: 5%;
    margin: 2% 35%;
    color: white;
}

.choices:hover {
	background-color: rgba(96, 130, 134, 0.5);
	color: white;
}

#gameWindow {
    background: rgba(82, 81, 81, 0.226);
	-webkit-box-shadow: 7px 5px 47px 0px rgba(0, 0, 0, 0.79);
	-moz-box-shadow: 7px 5px 47px 0px rgba(0, 0, 0, 0.79);
    box-shadow: 7px 5px 47px 0px rgba(0, 0, 0, 0.79);
    padding: 40px;
}
#gameWindowImage {
    /* background: rgba(255, 255, 255, 0.226);
	-webkit-box-shadow: 7px 5px 47px 0px rgba(0, 0, 0, 0.79);
	-moz-box-shadow: 7px 5px 47px 0px rgba(0, 0, 0, 0.79);
    box-shadow: 7px 5px 47px 0px rgba(0, 0, 0, 0.79); */
    padding: 40px;
    text-align: center;
}
.gameRow {
    margin-top: 40px;
}
.shadow {
	-webkit-box-shadow: -7px 6px 5px -1px rgba(0, 0, 0, 0.79);
	-moz-box-shadow: -7px 6px 5px -1px rgba(0, 0, 0, 0.79);
	box-shadow: -7px 6px 5px -1px rgba(0, 0, 0, 0.7979);
}

/* VIDEO BACKGROUND */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 0px 20px 20px 20px;
  
}

#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.493);
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}